*.suo
*.csproj.user
*.nupkg
.vs/
sample/**/bin/
sample/**/obj/
src/**/Configuration.cs
src/**/ER.resx
src/**/Errors.cs
src/**/Exceptions.cs
src/**/bin/
src/**/obj/
tests/**/bin/
tests/**/obj/
packages/
src/Hafnium.Transforms/Hafnium.Transforms.nuspec
