
body, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

form {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    background-image: url( '../img/hafnium.png' );
    background-position: 1% 73%;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 290px;
    border-bottom: 4px solid #ededed;
    font-size: 36px;
    font-weight: bold;
}

li {
    margin-bottom: 20px;
}
